*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.navigation-list {
  display: flex;
  gap: 40px;
}
.navigation-link {
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link.current {
  position: relative;
  color: #404bbf;
}
.navigation-link.current::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: -1px;
  background-color: #404bbf;

  border-radius: 2px;
  width: 100%;
  height: 4px;
}
.logo-header {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  padding: 24px 0;
  display: block;
}
.logo-navy-blue {
  color: #2e2f42;
}
.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}
.contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.first-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.first-section-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-section-button:hover,
.first-section-button:focus {
  background-color: #404bbf;
}
.second-section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.second-section-list {
  display: flex;
  gap: 24px;
}
.second-section-list-item {
  flex-basis: calc((100% - 72px) / 4);
}
.second-section-background-icon {
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-section-icon {
}

.second-section-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.second-section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.third-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.third-section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.third-section-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.third-section-card {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-text {
  padding: 32px 0;
}
.third-section-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.third-section-post {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.third-section-social-link-block {
}
.third-section-social-link-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.third-section-social-link {
  display: block;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-section-social-link:hover,
.third-section-social-link:focus {
  background-color: #404bbf;
}
.third-section-social-icon {
  fill: #f4f4fd;
}
.fourth-section {
  padding: 120px 0;
}
.fourth-section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.fourth-section-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.fourth-section-item {
  max-width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box {
  position: relative;
  overflow: hidden;
}
.text-overlay {
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  font-size: 16px;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fourth-section-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.fourth-section-item:hover .text-overlay {
  transform: translateY(0);
}
.fourth-section-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.fourth-section-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.fourth-section-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-overlay {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px;
  padding-top: 72px;
}
.close-btn {
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  border: none;
  background-color: #404bbf;
}
.close-btn:hover .close-btn-svg,
.close-btn:focus .close-btn-svg {
  fill: #fff;
}
.modal-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.input-block {
  margin-bottom: 8px;
}
.modal-form-label {
}
.input-parent {
  position: relative;
}
.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
  fill: #2e2f42;
}
.modal-form-input:hover,
.modal-form-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}

.modal-form-input:hover + .input-icon,
.modal-form-input:focus + .input-icon {
  fill: #4d5ae5;
}
.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}
.modal-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.input-block-comment {
  margin-bottom: 16px;
}
.modal-form-input-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-input-comment:checked,
.modal-form-input:checked {
  border: none;
}
.modal-form-input-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.privacy-policy {
  margin-bottom: 24px;
}
.privacy-policy-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.check {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .privacy-policy-label > .check {
  fill: #f4f4fd;
  border: none;
  border-radius: 2px;
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.privacy-policy-link {
  line-height: 16px;
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-form-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: #4d5ae5;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #404bbf;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.container.bottom {
  display: flex;
  align-items: baseline;
}
.footer-first-block {
  margin-right: 120px;
}
.logo-white {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.logo-footer {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-social-list-block {
  width: 208px;
}
.footer-social-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
.footer-social-list-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-icon {
  fill: #f4f4fd;
}
.footer-form-block {
  margin-left: 80px;
}

.footer-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: none;
}
.footer-form-btn-svg {
  margin-left: 16px;
  fill: #fff;
}
